@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.text-container {
  width: 400px;
}
.title-text {
  font-weight: 800;
  padding: 10px 0;
}
#hero-page {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("src/hero-lines.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  overflow-x: hidden;
}
.hero-img {
  position: absolute;
}
.hero-cube {
  height: 10vh;
  top: 10%;
  left: 20%;
}
.hero-cubes {
  height: 24vh;
  bottom: 10%;
  left: 12%;
}
.hero-pillar {
  width: 12vw;
  min-width: 100px;
  bottom: 0%;
  right: 20%;
}
.hero-stairs {
  width: 12vw;
  top: 8%;
  right: 14%;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.navbar-nav-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #00d54b;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: none;
}
.navbar-nav-mobile .navbar-eye-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-nav-mobile .navbar-eye {
  height: 15px;
}
.navbar-nav-mobile a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  display: block;
  transition: 0.3s;
}
.navbar-nav-mobile a:hover {
  color: #f1f1f1;
}
.nav-item {
  padding: 0 1rem;
}
.nav-brand {
  height: 32px;
}
.navbar-eye {
  height: 20px;
}

.navbar-eye-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.landing-page > .container {
  text-align: center;
  line-height: 0.75;
  position: relative;
}
.landing-title {
  color: #fff;
  font-size: 10rem;

  transform: skewY(5deg);
}
.landing-phone {
  position: absolute;
  height: 25vw;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 1.5;
}

.app {
  position: relative;
  z-index: 1;
}

#payment-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.payment-img {
  position: absolute;
}

.payments-pillar {
  height: 60vh;
}
.pillar-1 {
  bottom: 10%;
  right: -2%;
}
.pillar-2 {
  bottom: -8%;
  right: 20%;
}
.pillar-3 {
  bottom: -10%;
  left: -35%;
}

.payments-pillar-large {
  height: 45vh;
  bottom: 10%;
  right: 39%;
}
.payments-pillar-medium {
  height: 30vh;
}
.pillar-m-1 {
  bottom: 5%;
  left: 20%;
}
.pillar-m-2 {
  bottom: 10%;
  left: 40%;
}
.pillar-m-3 {
  bottom: 25%;
  right: 15%;
}
.pillar-m-4 {
  bottom: -10%;
  right: 40%;
}
.payments-pillar-small {
  height: 15vh;
  bottom: 10%;
  left: 26%;
}
.payments-phone {
  height: 55vh;
  bottom: 15%;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.payment-text {
  margin: 120px;
}
.payment-text > h1 {
  color: #00d54b;
}

#banking-page {
  height: 100vh;
  width: 100vw;
  background-color: #00d54b;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.banking-img {
  position: absolute;
}

.banking-phone {
  height: 55vh;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.banking-hole-1 {
  height: 20vh;
  top: 0;
  left: -2%;
}
.banking-hole-2 {
  height: 20vh;
  bottom: -15%;
  right: 20%;
}
.banking-pillar {
  height: 23vh;
  top: 15%;
  left: 5%;
}
.banking-track-1 {
  height: 18vh;
  top: 20%;
  left: 32%;
}
.banking-track-2 {
  height: 18vh;
  top: 5%;
  right: 20%;
}
.banking-ramp-1 {
  height: 22vh;
  top: 30%;
  right: 25%;
}
.banking-ramp-2 {
  height: 22vh;
  bottom: 10%;
  left: 15%;
}
.banking-stairs-1 {
  height: 25vh;
  top: 35%;
  right: 4%;
}
.banking-stairs-2 {
  height: 25vh;
  top: 50%;
  left: 4%;
}
.banking-cubes {
  height: 20vh;
  bottom: 15%;
  right: 15%;
}
.banking-tube {
  height: 18vh;
  bottom: -2%;
  left: 40%;
}
.banking-monster {
  height: 10vh;
  bottom: 10%;
  right: 5%;
}
.banking-text {
  margin: 120px;
}
.banking-text > h1 {
  color: #fff;
}

#boost-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
.boost-img {
  position: absolute;
}

.boost-stairs-1 {
  height: 120vh;
  bottom: -20%;
  right: -5%;
}
.boost-stairs-2 {
  height: 70vh;
  left: -5%;
  bottom: -5%;
}
.boost-phone {
  height: 60vh;
  bottom: 0;
  left: 10%;
  right: 0;
  top: 20%;
  margin: auto;
}
.boost-burger {
  height: 10vh;
  bottom: 205px;
  right: 365px;
}
.boost-shoe {
  height: 10vh;
  bottom: 205px;
  right: 50px;
}
.boost-coffee {
  height: 10vh;
  bottom: 90px;
  right: 280px;
}
.boost-card {
  height: 15vh;
  top: 180px;
  right: 280px;
}
.boost-hand {
  height: 10vh;
  top: 80px;
  right: 200px;
}
.boost-text {
  margin: 120px;
}
.boost-text > h1 {
  color: #00d54b;
}
.boost-text > p {
  color: #fff;
}

#investing-page {
  height: 110vh;
  width: 100vw;
  background-color: #00d54b;
  position: absolute;
  background-image: url("src/hero-lines.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  overflow-x: hidden;
}

#investing-page > .container {
  z-index: 2;
  position: relative;
}
.investing-title {
  color: #fff;
  text-align: center;
  padding: 10vh 0;
}
.container-col {
  display: flex;
  justify-content: space-evenly;
}
.container-col-1,
.container-col-2 {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.stocks-text {
  text-align: right;
}
.stock-phone,
.bitcoin-phone {
  width: 130px;
  /*min-width: 100px;*/
}
.stocks-text > h1,
.bitcoin-text > h1 {
  font-size: 1.2rem;
}

.floor {
  height: 45vh;
  width: 100vw;
  bottom: 0;
  position: absolute;
  background-color: #fff;
  background-image: url("src/investing-floor.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.investing-img {
  height: 10px;
  position: absolute;
}
.investing-graph-1 {
  height: 30vh;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.investing-graph-2 {
  height: 40vh;
  right: 0;
  bottom: 30%;
  z-index: 2;
}
.investing-graph-3 {
  height: 30vh;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.footer {
  margin: 10vh 0;
  width: 100vw;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer > div {
  display: flex;
}
.footer-col-2 {
  justify-content: space-evenly;
  align-items: center;
}
.legal {
  font-size: 0.8rem;
  font-weight: 500;
  width: 40vw;
}
.social-icon-container {
  display: flex;
  height: 1.5rem;
}
.social-icon {
  margin: 0 0.8rem;
}
.appstore-btn,
.playstore-btn {
  border-color: #000;
  border-radius: 8px;
  height: 48px;
  align-items: center;
  display: flex;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin: 5px;
  border-width: 1.5px;
}
.appstore-btn > img,
.playstore-btn > img {
  height: 1.5rem;
  margin: 10px;
}
.appstore-btn > p,
.playstore-btn > p {
  margin: 10px;
}

@media (max-width: 480px) {
  .navbar {
    justify-content: space-between;
    height: 7vh;
  }
  .navbar-nav {
    display: none;
  }
  .navbar-nav-mobile {
    display: block;
  }
  .nav-img {
    margin: 20px;
  }
  .landing-title {
    font-size: 120px;
  }
  .landing-phone {
    height: 30vh;
  }
  .hero-cube {
    height: 6vh;
  }
  .hero-cubes {
    height: 12vh;
    bottom: 5%;
  }
  .hero-pillar {
    width: 30vw;
    bottom: 0%;
    right: 10%;
  }
  .hero-stairs {
    width: 25vw;
    right: 0%;
  }

  .payments-phone {
    height: 30vh;
    bottom: 0%;
  }
  .payment-text {
    margin: 50px;
  }
  .text-container {
    width: 80vw;
  }
  /*PAYMENT PILLARS*/

  .pillar-1 {
    height: 20vh;
    bottom: 35%;
    right: -2%;
    z-index: -1;
  }
  .pillar-2 {
    height: 25vh;
    bottom: 0%;
    right: 0%;
  }
  .pillar-3 {
    display: none;
  }

  .payments-pillar-large {
    height: 25vh;
    bottom: 10%;
    right: 39%;
    z-index: -1;
  }
  .payments-pillar-medium {
    height: 16vh;
  }
  .pillar-m-1 {
    bottom: 20%;
    left: 15%;
  }
  .pillar-m-2 {
    display: none;
  }
  .pillar-m-3 {
    bottom: 25%;
    right: 15%;
  }
  .pillar-m-4 {
    display: none;
  }
  .payments-pillar-small {
    height: 5vh;
    bottom: 15%;
    left: 16%;
  }
  .banking-cubes {
    display: none;
  }
  .banking-phone {
    width: 40vw;
    height: auto;
    bottom: 40%;
  }

  .banking-stairs-1 {
    height: 12vh;
    top: 30%;
    right: 4%;
  }
  .banking-stairs-2 {
    height: 12vh;
    top: 60%;
    left: 4%;
  }
  .banking-track-1 {
    display: none;
  }
  .banking-track-2 {
    height: 10vh;
  }
  .banking-ramp-1 {
    display: none;
  }
  .banking-ramp-2 {
    width: 30vw;
    height: auto;
    bottom: 20%;
    left: 40%;
  }
  .banking-hole-1 {
    height: 8vh;
  }
  .banking-pillar {
    height: 15vh;
    top: 5%;
    right: 20%;
  }
  .banking-text {
    margin: 50px;
  }
  .banking-hole-2 {
    height: 15vh;
    bottom: -10%;
    right: 20%;
  }
  .banking-tube {
    height: 10vh;
    bottom: 5%;
    left: 10%;
  }
  .banking-monster {
    height: 5vh;
    bottom: 10%;
    right: 5%;
  }
  .boost-stairs-2 {
    display: none;
  }
  .boost-stairs-1 {
    width: 510px;
    height: auto;
    bottom: -5%;
  }
  .boost-text {
    margin: 50px;
  }

  .boost-phone {
    height: 25vh;
    left: -10%;
  }
  .boost-burger {
    height: 5vh;
    bottom: 160px;
    right: 240px;
  }
  .boost-shoe {
    height: 5vh;
    bottom: 150px;
    right: 50px;
  }
  .boost-coffee {
    height: 5vh;
    bottom: 90px;
    right: 190px;
  }
  .boost-card {
    height: 5vh;
    top: 400px;
    right: 20px;
  }
  .boost-hand {
    height: 5vh;
    top: 460px;
    right: 140px;
  }
  .investing-title {
    padding: 5vh;
  }
  .container-col-1 {
    flex-direction: column;
    align-items: flex-end;
    padding: 2%;
  }

  .container-col-2 {
    flex-direction: column-reverse;
    padding: 2%;
  }
  .stock-phone,
  .bitcoin-phone {
    width: 60%;
  }
  .stocks-text {
    text-align: right;
  }
  .bitcoin-text,
  .stocks-text {
    width: 48vw;
    font-size: 0.8rem;
    padding: 10px 0;
  }
  .footer {
    margin: 0;
    display: block;
  }
  .floor {
    height: 30vh;
  }
  .footer-col-1 {
    width: 100vw;
    padding: 5vh 0;
    justify-content: space-evenly;
  }
  .footer-col-2 {
    display: block !important;
  }
  .legal {
    width: 90vw;
    margin: 5vw;
  }
  .social-icon-container {
    padding: 0 30vw;
  }

  .investing-graph-1 {
    height: 10vh;
  }
  .investing-graph-2 {
    height: 20vh;
    bottom: 10%;
  }
  .investing-graph-3 {
    height: 15vh;
  }
}
